<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Internet suite" verbose="1" >
  <test name="Fun test">
    <groups>
    <run>
      <include name="grupa1"/>
      <include name="grupa2"/>
      <include name="config"/>
      <exclude name="grupa3"></exclude>
    </run>
  </groups>
    <classes>
      <class name="TheInternetTest"/>
    </classes>
  </test>
</suite>


